@model Projekt.ViewModels.AuthNotExistViewModel

@{
    ViewBag.Title = "AuthNotExist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Informacja:</h2>

<div>
    <br />
    <h4>Student @Model.Student.Name @Model.Student.Surname o id: @Model.Student.Id nie posiada danych autoryzacyjnych</h4>
</div>
<p>
    @Html.ActionLink("Wróć do listy studentów", "Index","Student")
</p>