@model Projekt.ViewModels.GradeDeleteViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jesteś pewien że chcesz usunąć tą ocenę ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.Grade.Id)

        <dt>
            Wartość:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.Value)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-primary" /> |
            @Html.ActionLink("Wróć do listy ocen", "Index", new{id = Model.StudentId})
        </div>
    }
</div>
