@model Projekt.ViewModels.GradeIndexViewModel

@{
    ViewBag.Title = "GradeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.StudentName @Model.StudentSurname</h3>

<h5> Oceny:</h5>
<table class="table">

    
    @foreach (var grade in Model.Grades)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => grade.Value)
            </td>
        </tr>
    }

</table>


@Html.ActionLink("Wyloguj","Logout")