
@{
    ViewBag.Title = "WrongAuthData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WrongAuthData</h2>
<h4>Podałeś złe dane</h4>

<p>Powrót do logowania</p>

@Html.ActionLink("Logowanie", "Authenticate","Login")

